.file-selector {
  width: 100vw;
  height: 100vh;
}

#rideMap {
  height: 75vh;
}

.speedometer {
  border-radius: 20em;
  overflow: hidden;
  background-color: white;
  border: 4px solid red;
  padding: 0.5em;
  width: 20em;
  height: 20em;
  text-align: center;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.speedometer-text {
  font-weight: 700;
  font-size: 10em;
}

.speedometer-legend {
  position: relative;
  font-size: 3em !important;
  bottom: 1em;
}